
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    font-size: 10px;
    overflow-x: none;
}
body{
    padding: 0;
    margin:0;
}
header{
    width: 100vw;
    height: 88px;
    top: 0;
    position:fixed;
}
div{
    display: flex;
    align-items: center;
}

.conteudo{
    font-family: 'Roboto', sans-serif;
    margin-left: 241px ;
    margin-top: 88px;
}
.barra-superior{

    width: inherit;
    height: inherit;
    background: linear-gradient(270deg, #2667CD 0%, #24FE96 100%);

    display: flex;
    align-items: center;
}
.barra-lateral{
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 241px;
    height: 100vh;
    top: 88px;
    left: 0px;
    background: linear-gradient(179.92deg, #26F391 0.07%, #2667CD 9.43%, #24FE96 99.93%);

    display: flex;
}
.avatar{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.logo{

    display: flex;
    align-items: center;
}
.logo h1{

    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    line-height: 19px;
    color: #3EA1D9;
}
.area-busca{
    justify-content: space-around;
    width: 388px;
    height: 38px;
    background-color: white;
    border: solid 2px #D1D1D1;

}

.area-busca img{
    margin-left: -60px;
}
.area-busca input{
    background-color: rgba(0,0,0,0);
    border: none;
    margin-left: -130px;
}
.area-busca input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.denario{
    width: 200px;
    height: 50px;
    
    padding-left: 10px;

    color: white;
    font-family: 'Alef', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    
    background: linear-gradient(269.55deg, rgba(40, 121, 216, 0.41) -3.2%, rgba(24, 206, 31, 0.76) 115.98%);
    border-radius: 40px;
}
.bloco-nome-usuario{
    width: 200px;
    display: flex;
    justify-content:space-around;
    font-family: 'Alef',sans-serif;
    font-size: 1.6rem;
    color: white;
    padding-left: 53px;
    padding-right: 126px;
}
.bloco-esquerdo{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 644px;

}
.bloco-direito{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 800px;
}
.Botao-navegacao-nao-selecionado{
    color: white;
    font-family: 'Alef',sans-serif;
    font-size: 1.4rem;
    line-height: 21px;

        
    cursor: pointer;

    height: 64px;
    width: cover;

    padding-left: 20px;
}
.Botao-navegacao-nao-selecionado:hover{
    background-color: rgba(6,6,6,0.1);
    color: white;
}
.Botao-navegacao-selecionado{
    color: #003087;
    font-weight: bold;
    font-family: 'Alef',sans-serif;
    font-size: 1.4rem;
    line-height: 21px;

    background-color: white;
    height: 64px;
    width:cover;

    padding-left: 20px;
    border-left: solid #003087 3px;

}
.Botao-navegacao-nao-selecionado label{
    padding-left: 15px;    
    cursor: pointer;

}
.Botao-navegacao-selecionado label{
    padding-left: 15px;
}

.video-aula{
    margin: 20px;
}
.trilha{
    margin: 20px;
    background-color: red;
    height: 480px;
    width: 400px;
}
.sobre-curso{
    margin: 20px;
    border: solid 2px #D1D1D1;
    width: 600px;
    margin-left: 100px;
    padding-left: 20px;
}
.sobre-curso p{
    font-size: 1.3rem;
    line-height: 18px;
}
.sobre-curso strong{
    font-weight: 500;
}
.sobre-curso h3{
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 18px;
    color: black;
}
.comentarios{
    width:770px;
    padding-left: 100px;
}
.comentarios h3{
    padding-left: 5px;
    border-left: solid 4px #24FE96;
    font-weight: 700;
    color: #474747;
    font-size: 3.5rem;
    line-height: 41px;
}